@page "/events"
@using dotnetside_test.Model
@inject EventService service

<h1>Eventi</h1>
@if (eventi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        @foreach (var evento in eventi)
        {
            <EventItem evento="@evento"/>
            <div class="row">
                <hr/>
            </div>
        }
    </div>
}

@functions
{
    Event[] eventi;

    protected override async Task OnInitAsync()
    {
        eventi = await service.GetEvents();
    }

    
}