@page "/events"
@using System.Threading.Tasks
@inject HttpClient Http

<h1>DotNetSide Events</h1>

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
    @foreach (var evento in events)
    {
        <EventItem evento="@evento" />
        <div class="row">
            <hr />
        </div>
    }
    </div>
}


@functions {

    Event[] events;

    protected override async Task OnInitAsync()
    {
        var url = "https://graph.facebook.com/dotnetside/events?access_token=EAAEfhuVqZCDUBABiYQHwk0Qwz9j7C8ljDWfkPewT2z4ZCRtjYBr5FqRqr0svQZB4czgE7snVQCZAe1Lj8ZAP5dxVdWnFHt1pwnqIZAatFG1IWwOeZAOnn92E9B3XLjS9DZA6Ory7UdkzvbZCHUUwCwmMRqgnaacZB3WKRa1ZCUXmnp3NwZDZD";
        var eventResponse = await Http.GetJsonAsync<EventResponse>(url);
        events = eventResponse.data;
    }

    class EventResponse
    {
        public Event[] data { get; set; }
    }
}