@page "/events"
@using System.Threading.Tasks
@using DotNetSide.Model
@inject EventService service

<div class="row">
    <hr/>
</div>
<div class="text-left">
    <h3>DotNetSide Events</h3>
</div>
<div class="row">
    <hr/>
</div>

@if (eventi == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var evento in eventi)
    {
        <EventItem evento="@evento"/>
        <div class="row">
            <hr/>
        </div>
    }
}

@functions
{
    public Event[] eventi { get; set; }
    protected override async Task OnInitAsync()
    {
        eventi = await service.GetEvents();
    }
}