@page "/"
@using DotNetSide.Model
@inject EventService service

<Carousel Items="@CarouselItems"/>

<div class="card-deck">
<Card>
    <CardHeader>
        DotNetSide Newsletter
    </CardHeader>
    <CardBody>
    Vuoi ricevere tutte le novità sugli eventi organizzati da DotNetSide in Puglia e Basilicata? Iscriviti alla newsletter! 
    </CardBody>
    <CardFooter>
        <a href="newsletter" class="btn btn-primary">ISCRIVITI</a>
    </CardFooter>
</Card>

<Card>
    <CardHeader>
        Iscrizioni 2019
    </CardHeader>
    <CardBody>
        DotNetSide è attiva dal 2006 con l'obiettivo di realizzare eventi tecnici, sviluppare le competenze locali e creare una fitta rete di sviluppatori ed aziende in grado di crescere e collaborare tra loro. Per sostenere le nostre attività e la community DotNetSide, diventa socio sostenitore versando la quota associativa di 30€ ed inviando copia della ricevuta attestante il pagamento all'indirizzo info@dotnetside.org.
    </CardBody>
    <CardFooter>
        <a href="supportus" class="btn btn-primary">SUPPORTACI</a>
    </CardFooter>
</Card>

<!-- <Card>
    <CardHeader>
        Chi Siamo
    </CardHeader>
    <CardBody>
        DotNetSide è il primo user group del sud Italia dedicato al Microsoft .NET Framework. Costituitosi ufficialmente il 22 Febbraio 2006, ha come scopo quello di riunire gli appassionati di questa tecnologia residenti nel sud Italia. 
    </CardBody>
    <CardFooter>
        <a href="#whoweare" class="btn btn-primary">CHI SIAMO</a>
    </CardFooter>
</Card> -->
</div>

<hr class="featurette-divider">

<div id="whoweare" class="row featurette text-right">
    <div class="col-md-7">
    <h2>Chi siamo</h2>
    <p class="lead">DotNetSide è il primo user group del sud Italia dedicato al Microsoft .NET Framework. Costituitosi ufficialmente il 22 Febbraio 2006, ha come scopo quello di riunire gli appassionati di questa tecnologia residenti nel sud Italia. <br>
        <br>Ecco perchè DotNetSide: Dot Net South Italy Developers.
        <br>
        <br>DotNetSide ha come obiettivo principale l'organizzazione di eventi, meeting o semplici discussioni di carattere tecnico finalizzati alla crescita professionale dei propri iscritti partendo dalla condivisione delle esperienze.<br>
        <br>DotNetSide nasce da un gruppo di professionisti appassionati di .NET. E' aperto a chiunque voglia farne parte. DotNetSide.org è il sito ufficiale del gruppo, un aggregatore di informazioni come punto di incontro per gli iscritti.</p>
    </div>
    <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="images/people-500x500.jpg" alt="DotNetSide Meetup">
    </div>
</div>

@functions
{
    Event nextEvent;
    CarouselItem[] CarouselItems {get;set;}

    protected override async Task OnInitAsync()
    {
        nextEvent = await service.GetNextEvent();

        var carouselItems = new List<CarouselItem>();
        if (nextEvent != null)
        {
            carouselItems.Add(new CarouselItem
            {
                Title = nextEvent.name,
                Description = nextEvent.description.GetMaxText(200),
                LinkText = "MAGGIORI INFORMAZIONI",
                LinkHref = "events/" + nextEvent.id
            });
        }

        carouselItems.Add(new CarouselItem
        {
            Title = "Newsletter",
            Description = "Vuoi ricevere tutte le novità sugli eventi organizzati da DotNetSide in Puglia e Basilicata? Iscriviti alla newsletter!",
            LinkText = "Iscriviti",
            LinkHref = "newsletter"
        });
        carouselItems.Add(new CarouselItem
        {
            Title = "Iscrizioni 2019",
            Description = "Sostieni le attività di DotNetSide",
            LinkText = "SUPPORTACI",
            LinkHref = "supportus"
        });
        carouselItems.Add(new CarouselItem
        {
            Title = "Chi Siamo",
            Description = "DotNetSide nasce da un gruppo di professionisti appassionati di .NET. E' aperto a chiunque voglia farne parte.",
            LinkText = "CHI SIAMO",
            LinkHref = "#whoweare"
        });

        CarouselItems = carouselItems.ToArray();
    }
}