@page "/supportus"

<div class="row">
    <hr/>
</div>

<div id="body">

    <Card>
        <CardHeader>
            Supporta DotNetSide
        </CardHeader>
        <CardBody>
            
            <p style="color: #606060;font-family: Helvetica;font-size: 15px;line-height: 150%;text-align: justify;">Sono passati ormai 12 anni da quando sei pazzi decisero di creare il primo User Group del Sud Italia dedicato a .NET. Da allora i <b>più di 50 eventi</b> organizzati, le <b>migliaia di persone</b> che hanno assistito ai nostri workshops, i <b>tre MVP sfornati</b> dalla nostra community e <b>tutti gli speakers</b> che sono intervenuti agli stessi e ci hanno appoggiato con un calore che quella sera di Febbraio non potevamo neanche lontanamente immaginare, non possono che renderci fieri di tutto il duro lavoro compiuto fino ad ora.<br>
            <br>
            Noi in tutto questo ci mettiamo e continuiamo a mettere tutta la passione e l'impegno che ha portato <b>DotNetSide</b> ad essere una tra le maggiori communities in Italia dedicata al .NET Framework e a tutto quello che gira intorno ad esso, ma purtroppo tutto questo a volte non basta. Un evento ha anche dei costi che non sempre i nostri sponsors riescono a coprire in toto quindi, se vuoi, puoi contribuire e supportare anche tu la nostra e soprattutto la TUA community, anche con un piccolo, piccolissimo contributo. Se per noi questo è importante e ci permetterà di organizzare sempre più eventi, per te questo è un piccolo modo per essere Community.
            </p>
 
            <p>
                <b>Diventa socio sostenitore</b>
                <br></p><div style="text-align: justify">Per sostenere le nostre attività e la community DotNetSide, diventa socio sostenitore versando la quota associativa di 30€ ed inviando copia della ricevuta attestante il pagamento all'indirizzo info@dotnetside.org. Segui gli step:</div>
                <ul>
                    <li><a href="https://goo.gl/forms/HJKEDFESe6G26dUr2" class="link" target="_new">Compila il form online</a> per richiedere l'ammissione a socio</li>
                    <li>Riceverai conferma via mail dell'ammissione a socio</li>
                    <li>Completa la tua iscrizione versando la quota associativa di 30€</li>
                </ul>
                <br>
                E' possibile versare la quota associativa di 30€ in due modalità:
                <ul>
                    <li>Tramite PAYPAL</li>
                    <li>Con un bonifico sul seguente c/c:<br>
                            IBAN: IT 88 K 03599 01899 050188535329<br>
                            Intestato a: DOTNETSIDE DOTNET SOUTH ITALY DEVELOPERS U.G. </li>
                </ul>
            <p></p>
 
            <p>
                <b>Donazione libera</b>
                <br>
                </p><div style="text-align: justify">
                        <p>Se invece non intendi versare la quota associativa, ma solo effettuare una donazione, clicca qui:</p>
                        <form target="_new" method="post" action="https://www.paypal.com/cgi-bin/webscr">
                        <input value="_s-xclick" name="cmd" type="hidden">
                        <input value="H6AL9P4W55PE4" name="hosted_button_id" type="hidden">
                        <input alt="PayPal è il metodo rapido e sicuro per pagare e farsi pagare online." name="submit" border="0" src="https://www.paypalobjects.com/it_IT/IT/i/btn/btn_donateCC_LG.gif" type="image">
                        <img height="1" width="1" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" border="0">
                        </form>
                        <p>&nbsp;</p>
                        <p>Grazie.<br>Lo staff di DotNetSide</p>
                </div>
            <p></p>
        
        </CardBody>
    </Card>

        </div>